body{
    margin: 0;
    font-family: Roboto, sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

header{
    position: relative;
    height: 100vh;
    background: url(../images/landing-bg-pattern.png) no-repeat bottom / contain #393E50;
    /* background-size: contain; */
    overflow: hidden;
    text-transform: uppercase;
}

.image-left{
    position: absolute;
    bottom: 0;
    left: -20%;
}

.image-right{
    position: absolute;
    bottom: 0;
    right: -20%;
}

.center-content{
    width: 60%;
    margin: auto;
}

.center-content nav{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.center-content nav p{
    margin: 0;
}

.button{
    border: 2px solid white;
    padding: 20px;
    border-radius: 3px;
    transition: .5s;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15vh;
    row-gap: 80px;
    column-gap: 50px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 5px;
    padding: 20px 0;
}
.content::before{
    content: "";
    position: absolute;
    top: 30px;
    bottom: -35px;
    width: 100%;
    z-index: -1;
    border-radius: inherit;
    transform: skewY(2.5deg);
    transform-origin: 0 0;
    transition: .3s;
}

.element-1 .content::before{
    background-image: linear-gradient(#35ad79, #f1e774);
}
.element-2 .content::before{
    background-image: linear-gradient(#98dfa4, #54b2f4);
}
.element-3 .content::before{
    background-image: linear-gradient(#fceb5a, #f8708d);
}
.element-4 .content::before{
    background-image: linear-gradient(#516093, #698fc3);
}
.element-5 .content::before{
    background-image: linear-gradient(#f2a346, #f8c88a);
}
.element-6 .content::before{
    background-image: linear-gradient(#4141bc, #61d5d6);
}

.text{
    padding: 10px;
}

.counter{
    font-size: 4rem;
    font-weight: bold;
    color: rgba(255,255,255, .45);
}

.text p{
    margin: 0;
}

.image{
    padding: 0 10px 10px;
    transition: .3s;
}

.content:hover .image{
    transform: scale(1.05) translateY(-10px);
}

.content:hover::before {
    transform: skewY(5.5deg) translateY(-6px);
}

.button:hover{
    background-color: #FCEF57;
    color: black;
    border-color: #FCEF57;
}